<!-- <div class="row">
  <div class="col-xs-12">
    <img
      [src]="blog.imagePath"
      alt="{{ blog.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ blog.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Post <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEdit()">Edit Post</a></li>
        <li><a style="cursor: pointer;" (click)="onDelete()">Delete Post</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ blog.description }}
  </div>
</div>
 -->
 <div class="ui main text container " *ngIf="!(blog.title==null)">
  <div class="ui huge header">{{blog.title}}</div>
 <div class="ui top attached segment">
   <div class="item">
      <img class="ui centered rounded image"
      [src]="blog.imagePath"
      style="min-width:100%;max-width:100%">
       <div class="content">
           <div class="meta">
               <span>created</span>
           </div>
            <div class="description">
               <p>{{blog.description}}</p>
            </div>
       </div>
     </div>
     <hr>
     <a  href="" class="ui inverted orange  button">Update Blog</a>
     <form style="display: inline" method="POST" action="DELETE">
         <button class="ui inverted red  button" type="submit">Delete Blog</button>
     </form>
 </div>

</div>
